.connexionContainer {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 80px;
}

.information {
    margin-top: 20px;
    padding: 10px;
}

input,
select, textarea {
    border-radius: 0px !important;
}
textarea{
    height: 100px !important;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(50, 161, 206, .25) !important;

}

.tab3pts {
    width: 15px;
}

.hoverColor:hover {
    color: #86b7fe !important;
    cursor: pointer;
}

h4 {
    color: #86b7fe !important;
}

.ajoutTab {
    padding: 0px !important;
}

.textAreaContainer{
    width: 80% !important;
}
/* ###################################################################################################################*/
/* connexion */
/* ###################################################################################################################*/

.connexion {
    margin: auto;
    width: 900px;
    height: 500px;

    padding: 40px;
    border-radius: 10px;
    border: thick double #32a1ce;

}

.btnLogin {
    width: 150px;
    border-color: #32a1ce !important;
}

.btnLogin:hover {
    background-color: #32a1ce !important;
    color: white !important;
}

/* ###################################################################################################################*/
/* Navigation */
/* ###################################################################################################################*/

.nav-link:hover {
    color: #32a1ce !important;
}

.infoDroit {
    color: #32a1ce !important;
}

/* ###################################################################################################################*/
/* poste de travail */
/* ###################################################################################################################*/

.posteTravailInfo {
    flex-grow: 3;
    padding: 30px;
}

.tableauPoste {
    flex-grow: 1;
    padding: 10px;
}

.actionPoste {
    margin: 15px;
    width: 50px;
}

.InformationPoste {
    flex-grow: 1;
}

.fixed-td {
    width: 30px;
    /* Fixe la largeur du premier <td> */
}

.fixed-td2 {
    width: 90px;
    /* Fixe la largeur du premier <td> */
}

.fixed-td3 {
    width: 50px;
    /* Fixe la largeur du premier <td> */
}

.rechercheInput {
    width: 100% !important;
    padding: 0px !important;
}

/* ###################################################################################################################*/
/* Gamme administration */
/* ###################################################################################################################*/


.creationText {
    width: 100px !important;
}

.creationSelectRes {
    width: 200px !important;
}

.optionNull{
    color : gray;
}

.selectNull{
    color: gray !important;
}

.creationTextOp{
    width: 150px !important;
}
.textAreaContainerCrea{
    width: 100% !important;
}