.connexionContainer {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    height: 70px;
}
.information{
    margin-top: 30px;
    padding : 20px;
}
input{
    border-radius : 0px !important;
}
/* ###################################################################################################################*/
/* connexion */
/* ###################################################################################################################*/

.connexion{
    margin : auto;
    width : 900px;
    height : 500px;

    padding : 40px;
    border-radius: 10px;
    border: thick double #32a1ce;

}
.btnLogin{
    width : 150px;
    border-color : #32a1ce !important;
}
.btnLogin:hover{
    background-color: #32a1ce !important;
    color : white !important;
}
/* ###################################################################################################################*/
/* Navigation */
/* ###################################################################################################################*/

.nav-link:hover{
    color :  #32a1ce !important;
}

